<div *ngIf="items" class="container">
  <div *ngIf="items.length else noDataRef" class="row"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       (scrolled)="onScrollDown()">
    <ngx-masonry [options]="masonryOptions" [ordered]="true" [updateLayout]="true" style="width: 90vw;">
      <div *ngFor="let item of items"
           ngxMasonryItem
           class="col-sm-6 col-lg-4 mb-4 masonry-item">
        <div class="card" style="width: auto;">
          <img class="card-img-top" [lazyLoad]="item.url" alt="">
        </div>
        <div class="overlay d-flex">
          <span>{{item.description}}</span>
          <a class="btn"
             [ngClass]="{'btn-primary': !item['selected'], 'btn-danger': item['selected']}"
             (click)="saveToFavorites($event, item)">
            {{item['selected'] ? 'remove from favorites' : 'save to favorites'}}
          </a>
        </div>
      </div>
    </ngx-masonry>
  </div>
  <ng-template #noDataRef>
    <h3 class="text-center">No Images To Show!</h3>
  </ng-template>
</div>
